p {
  font-family: "Roboto", "Helvetica Nue", sans-serif;
}

body {
  background: #ddd;
  flex-wrap: wrap;
  font-family: sans-serif;
}


input {
  border: 1px solid #dddddd;
  border-radius: 3px;
  background: #ffffff;
  padding: 10px;
}

input::placeholder {
  color: #dddddd;
}
